<navigation></navigation>
<!--Login View Container-->
<div class="main">
   <div style="width:400px; margin:auto; text-align:right;">
      <h1 style="text-align:center; margin-bottom:20px;">Welcome back!<br/>Please Sign In</h1>
      <!--Login Form-->
      <form ng-submit="vm.onSubmit()">
         <div class="form-group" style="text-align:left;">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" ng-model="vm.credentials.email">
         </div>
         <div class="form-group" style="text-align:left;">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" ng-model="vm.credentials.password">
         </div>
         <button type="submit" class="btn btn-primary" style="margin-right:10px;">Sign In</button>
      </form>
      <!--Alternatives-->
      <div style="margin-top:30px;">
         <!--Register Redirect-->
         <div style="text-align:center; float:left; margin-left:40px;">
            <p class="lead">
            New to LendIt
               <br/>
               <a ui-sref="register">Register here</a>
            </p>
         </div>
         <!--Facebook Redirect-->
         <div style="text-align:center; float:right; margin-right:30px;">
            <p class="lead">Login in with
               <br/>
               <a style="margin-top:5px;" href="/auth/facebook" class="btn btn-primary" target="_self">
                  <span class="fa fa-facebook"></span>
               Facebook
               </a>
            </p>
         </div>
      </div>
   </div>
</div>
